<div id="reference">
  <%= @reference %>
</div>

Logout :-
<% @apps.each_pair do |key, value| %>
    <%= link_to "#{key.gsub("staging", "").gsub("-", " ").chomp}", "http://#{key}.therepairline.co.uk/pages/logout", :target => "test_harness" %>
    |
<% end %>
<br/>
Start :-
<% @apps.each_pair do |key, value| %>
    <%= link_to "#{key.gsub("staging", " ").gsub("-", " ").chomp}", "http://#{key}.therepairline.co.uk/#{value}" %>
    |
<% end %>


<iframe id="test_harness" name="test_harness" src="#" style="border:solid 1px; width:100%; height:99%;">

</iframe>