<div id="reference">
  <%= @reference %>
</div>

<br/>
<h4>Links</h4>

<ul>
  <li><%= link_to "Returns", "http://returns-staging.therepairline.co.uk" %></li>
  <li><%= link_to "Forward", "http://forward-staging.therepairline.co.uk/shipments" %></li>
</ul>